test/**
src/tests/**
src/**
out/**
.github/**
.vscode/**
readme-assets/**
node_modules/**
esbuild.js
eslint.config.mjs
tsconfig.json
playwright.config.ts
.gitignore
.vscodeignore
output.txt
AGENTS.md
